# Project exclude paths
/.gradle/
/app/build/intermediates/javac/debug/classes/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/app/schemas/com.basculasmagris.visorremotomixer.model.database.SpiMixerRoomDatabase/1.json
/build
app/build/
app/schemas

.idea/
app/app.iml

# Archivos temporales del sistema
*.log
*.tmp

# Carpetas específicas de IDE
.idea/
*.iml


# Archivos de configuración de usuario
*.apk
*.ap_

# Archivos de prueba que no deseas incluir
**/test/
*.test.*
**/*Test*/

# Archivos de configuración específicos que pueden contener información sensible
/release/

**/output-metadata.json
