# Project exclude paths
/.gradle/
/app/build/intermediates/javac/debug/classes/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/app/schemas/com.basculasmagris.visorremotomixer.model.database.SpiMixerRoomDatabase/1.json
/gradle/
