<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.basculasmagris.visorremotomixer">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".application.SpiMixerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spimixer"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.activities.TabletMixerConfigActivity"
            android:exported="false"
            android:label="@string/title_activity_tablet_mixer_config"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Spimixer.NoActionBar" />
        <activity
            android:name=".view.activities.AddUpdateTabletMixerActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_add_update_tablet_mixer"
            android:theme="@style/Theme.Spimixer.NoActionBar" />
        <activity
            android:name=".view.activities.AddUpdateUserActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Spimixer.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activities.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing" />

        <service
            android:name=".services.BluetoothSDKService"
            android:enabled="true"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />


        <activity
            android:name=".view.activities.AddUpdateRoundActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Spimixer.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".view.activities.AddUpdateMixerActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Spimixer.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".view.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Spimixer.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Spimixer.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.basculasmagris.visorremotomixer.view.activities.MainActivity.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>